@use '../base/variables' as v;
@use "sass:math";

.footer{
    padding: math.div(v.$separacion, 2) 0;
    background-color: v.$grisOscuro;

    .contenido-footer{
        padding:  math.div(v.$separacion, 2);
    }

    .copyright {
        color: v.$blanco;
        text-align: center;
    }
}